
<h1><%= @note.title %></h1>


<div class="markdown-container">
	<%=  @html_content|>raw() %>
</div>



<a href=<%= "/"%>><button>Go Back To Your Notes</button></a>
<a href=<%= "/notes/#{@note.id}/edit"%>><button>Edit Note</button></a>
